@charset "UTF-8";
body {
	padding: 0;
	margin: 0;
}
ul, li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000000;
}
h1, h2, h3, h4, h5, h6 {
	color: #000000;
}
p {
	font-size: 1.2em;
}


/* aside */
#aside {
	background-color: #f5f6f7;
}
#aside  * {
	color: #000000;	
}
#brand-link {
	border-bottom: 3px solid #d2d7d9;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
#brand-link .brand-text{
	color: #696969;
	font-weight: 600 !important;
}	
#user-panel {
	border-bottom: 3px solid #d2d7d9;
	margin-top: 0 !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
#blockWidth100 {
	display: block;
	width: 100%;
}
.borderBottom1 {
	border-bottom: 1px solid #d2d7d9;
    border-radius: 0px !important; 
    padding-top: 15px;
    padding-bottom: 15px;
}
.marginLeft10 {
	margin-left: 20px !important;
}


/* header */
#barsList {
	position: absolute;
	top: 0;
	left: 0;
}
#fa-bars {
	color: #f56a6a;
	font-size: 1.8em;
}

#header {
	border-bottom: 0;
	height: 160px;
	position: relative;
}

.logo {
	position: absolute;
	top: 70px;
	left: 80px;
}

#navbar {
	margin-top: 80px;
	margin-right: 80px;
}
#borderBottom3 {
	width: calc(100% - 80px);
	border: 3px solid #f56a6a;
	position: absolute;
	bottom: 0;
	left: 40px;
}


/* main */
#content-wrapper {
	background-color: #ffffff;
	padding: 60px;
}

/* banner */
#banner {
	display:-moz-flex;
	display:-webkit-flex;
	display:-ms-flex;
	display:flex;
	margin-bottom: 60px;
	padding: 0 20px 0 20px; 
}
#banner h1 {
	margin-top:-0.125em;
}
#banner .content {
	-moz-flex-grow:1;
	-webkit-flex-grow:1;
	-ms-flex-grow:1;
	flex-grow:1;
	-moz-flex-shrink:1;
	-webkit-flex-shrink:1;
	-ms-flex-shrink:1;
	flex-shrink:1;
	width:50%;
	padding: 0 15px 0 15px;
}
#banner .image {
	-moz-flex-grow:0;
	-webkit-flex-grow:0;
	-ms-flex-grow:0;
	flex-grow:0;
	-moz-flex-shrink:0;
	-webkit-flex-shrink:0;
	-ms-flex-shrink:0;
	flex-shrink:0;
	display:block;
	margin:002em4em;
	border-radius:10px;
	width:50%;
}
#banner .object {
	background-color: #fbebeb;
}
#banner .image img {
	/* height:100%; */
	-moz-object-fit:contain;
	-webkit-object-fit:contain;
	-ms-object-fit:contain;
	object-fit:contain;
	-moz-object-position:center;
	-webkit-object-position:center;
	-ms-object-position:center;
	object-position:center;
	width:100%;
}
@media screen and (orientation:portrait) and (max-width:920px) {
	#banner {
			-moz-flex-direction:column-reverse;
			-webkit-flex-direction:column-reverse;
			-ms-flex-direction:column-reverse;
			flex-direction:column-reverse;
	}
	#banner h1 br {
			display:none;
	}
	#banner .content {
			-moz-flex-grow:0;
			-webkit-flex-grow:0;
			-ms-flex-grow:0;
			flex-grow:0;
			-moz-flex-shrink:0;
			-webkit-flex-shrink:0;
			-ms-flex-shrink:0;
			flex-shrink:0;
			width:100%;
	}
	#banner .image {
			-moz-flex-grow:0;
			-webkit-flex-grow:0;
			-ms-flex-grow:0;
			flex-grow:0;
			-moz-flex-shrink:0;
			-webkit-flex-shrink:0;
			-ms-flex-shrink:0;
			flex-shrink:0;
			margin:0 0 4em 0;
			height:25em;
			max-height:50vh;
			min-height:18em;
			width:100%;
	}
	#banner .image img {
			-moz-flex-grow:0;
			-webkit-flex-grow:0;
			-ms-flex-grow:0;
			flex-grow:0;
			-moz-flex-shrink:0;
			-webkit-flex-shrink:0;
			-ms-flex-shrink:0;
			flex-shrink:0;
			margin:0 0 4em 0;
			height:25em;
			max-height:50vh;
			min-height:18em;
			width:100%;
	}
}
@media screen and (orientation:portrait) and (max-width:480px) {
	#banner .image {
			max-height:35vh;
	}
}
header h1 {
	font-size: 3.2em;
	font-weight: 800;
}
header p {
	font-weight:400;
	letter-spacing:0.075em;
	margin-top:-0.5em;
	text-transform:uppercase;
}


/* button */
.button {
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	appearance:none;
	-moz-transition:background-color 0.2s ease-in-out,color 0.2s		ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out,color 0.2s		ease-in-out;
	-ms-transition:background-color 0.2s ease-in-out,color 0.2s		ease-in-out;
	transition:background-color 0.2s ease-in-out,color 0.2s ease-in-out;
	background-color:transparent;
	border-radius:0.375em;
	border:0;
	box-shadow:inset 0 0 0 2px #f56a6a;
	color:#f56a6a !important;
	cursor:pointer;
	display:inline-block;
	font-size:0.8em;
	font-weight:700;
	height:3em;
	letter-spacing:0.075em;
	line-height:3em;
	padding:0 2.25em;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	white-space:nowrap;
}
.button:hover {
	background-color:rgba(245,106,106,0.05);
}
.button:active {
	background-color:rgba(245,106,106,0.15);
}
.button.icon:before {
	margin-right:0.5em;
}
.button.fit {
	width:100%;
}
.button.small {
	font-size:0.6em;
}
.button.large {
	font-size:1em;
	height:3.65em;
	line-height:3.65em;
}
.button.primary {
	background-color:#f56a6a;
	box-shadow:none;
	color:#ffffff !important;
}
.button.info {
	background-color:#6495ED;
	box-shadow:none;
	color:#ffffff !important;
}
.button.warning {
	background-color:#F1BE29;
	box-shadow:none;
	color:#ffffff !important;
}
.button.secondary {
	background-color:#B48FDB;
	box-shadow:none;
	color:#ffffff !important;
}
.button.primary:hover {
	background-color:#f67878;
}
.button.primary:active {
	background-color:#f45c5c;
}
.button:disabled {
	pointer-events:none;
	opacity: 0.25;
}


/* subMenu */
.subMenu {
	width:100%;
	justify-content:center;
	margin-bottom: 40px;
}
.subMenu ul {
	width:100%;
	display:flex;
	padding-left:0;
}
.subMenu ul li {
	list-style:none;
	padding-left:0;
	margin-right: 2px;
}

.subMenu ul li a {
	display:block;
	width:100%;
	text-align:center;
	border:none;
		color:#000000;
}


/* table */
.table-wrapper {
	-webkit-overflow-scrolling:touch;
	overflow-x:auto;
}
.tableList {
	border-collapse:collapse;
	border-spacing:0;
	margin:0 0 2em 0;
	width: 100%;
	color: black;
}
.tableList tbody tr {
	border-bottom:solid 1px rgba(210,215,217,0.75);
	border-left:0;
	border-right:0;
}
.tableList tbody tr.cursorP  {
	cursor: pointer;	
}
.tableList tbody tr:hover td {
   background-color: #EFECEA;
}
.tableList tbody tr:nth-child(2n+1) {
	background-color:rgba(230,235,237,0.25);
}
.tableList td {
	padding:0.75em 0.75em;
}
.tableList th {
	border: solid 1px rgba(210,215,217,0.75);
	color:black;
	font-size:0.9em;
	font-weight:600;
	padding:0 0.75em 0.75em 0.75em;
	text-align:left;
}
.tableList thead {
	border: solid 2px lightgray;
	background-color:#CAC5C2;
}
.tableSearch {
	margin-bottom: 10px;
}
.textAlignR {
	text-align: right;
}

/* pagination */
ul.pagination {
	cursor:default;
	list-style:none;
	padding-left:0;
	text-align:center;
}
.flexCenter {
	justify-content: center;
}
ul.pagination li {
	display:inline-block;
	padding-left:0;
	vertical-align:middle;
}
ul.pagination li>.page {
	-moz-transition:background-color 0.2s ease-in-out,color 0.2s		ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out,color 0.2s		ease-in-out;
	-ms-transition:background-color 0.2s ease-in-out,color 0.2s		ease-in-out;
	transition:background-color 0.2s ease-in-out,color 0.2s ease-in-out;
	border-bottom:0;
	border-radius:0.375em;
	display:inline-block;
	font-size:0.8em;
	font-weight:600;
	height:2em;
	line-height:2em;
	margin:0 0.125em;
	min-width:2em;
	padding:0 0.5em;
	text-align:center;
	color: #f56a6a !important;
}
ul.pagination li>.page.active {
	background-color:#f56a6a;
	color:#ffffff !important;
}
ul.pagination li>.page.active:hover {
	background-color:#f67878;
}
ul.pagination li>.page.active:active {
	background-color:#f45c5c;
}
ul.pagination li:first-child {
	padding-right:0.75em;
}
ul.pagination li:last-child {
	padding-left:0.75em;
}
@media screen and (max-width:480px) {
	ul.pagination li:nth-child(n+2):nth-last-child(n+2) {
			display:none;
	}
	ul.pagination li:first-child {
			padding-right: 0;
	}
}


/* selectbox 검색부분 */
.selectCategory {
	border: 2px solid #f56a6a !important;
	background-color: #ffffff !important;
}
.flexEnd {
	justify-content: flex-end;
}
.inputText {
	border: 2px solid #f56a6a;
	background-color: #ffffff;
}
.buttonSearch {
	background-color: #f56a6a;	
	border: 2px solid #f56a6a;
	color: #ffffff;
}
.buttonSearch:hover {
	background-color:#f67878;
	border: 2px solid #f67878;
}

/* posts */
.posts {
	display:-moz-flex;
	display:-webkit-flex;
	display:-ms-flex;
	display:flex;
	-moz-flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin:0 0 2em -6em;
	width:calc(100%+6em);
}
.posts article {
	-moz-flex-grow:0;
	-webkit-flex-grow:0;
	-ms-flex-grow:0;
	flex-grow:0;
	-moz-flex-shrink:1;
	-webkit-flex-shrink:1;
	-ms-flex-shrink:1;
	flex-shrink:1;
	margin:0 0 6em 6em;
	position:relative;
	width:calc(33.33333% - 6em);
}
.posts article:after {
    background: rgba(210, 215, 217, 0.75);
    bottom: -3em;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    width: calc(100% + 6em);
}
.posts article:before {
    background: rgba(210, 215, 217, 0.75);
    content: '';
    display: block;
    height: calc(100% + 6em);
    left: -3em;
    position: absolute;
    top: 0;
    width: 1px;
}
.posts article>:last-child {
	margin-bottom:0;
}
@media screen and (min-width:1681px) {
	.posts article:nth-child(3n+1):before {
			display:none;
	}
	.posts article:nth-child(3n+1):after {
			width:100%;
	}
	.posts article:nth-last-child(1),.posts article:nth-last-child(2),	.posts article:nth-last-child(3) {
			margin-bottom:0;
	}
	.posts article:nth-last-child(1):before,.posts article:nth-last-child(2):before, .posts article:nth-last-child(3):before {
			height:100%;
	}
	.posts article:nth-last-child(1):after,.posts article:nth-last-child(2):after, .posts article:nth-last-child(3):after {
			display:none;
	}
}
@media screen and (max-width:1680px) {
	.posts article {
			width:calc(50% - 6em);
	}
	.posts article:nth-last-child(3) {
			margin-bottom:6em;
	}
}
@media screen and (min-width:481px) and (max-width:1680px) {
	.posts article:nth-child(2n+1):before {
			display:none;
	}
	.posts article:nth-child(2n+1):after {
			width:100%;
	}
	.posts article:nth-last-child(1),.posts article:nth-last-child(2) {
			margin-bottom:0;
	}
	.posts article:nth-last-child(1):before,.posts article:nth-last-child(2):before	 {
			height:100%;
	}
	.posts article:nth-last-child(1):after,.posts article:nth-last-child(2):after	 {
			display:none;
	}
}
@media screen and (max-width:736px) {
	.posts {
			margin:0 0 2em -4.5em;
			width:calc(100%+4.5em);
	}
	.posts article {
			margin:0 0 4.5em 4.5em;
			width:calc(50% - 4.5em);
	}
	.posts article:before {
			height:calc(100%+4.5em);
			left:-2.25em;
	}
	.posts article:after {
			bottom:-2.25em;
			width:calc(100%+4.5em);
	}
	.posts article:nth-last-child(3) {
			margin-bottom:4.5em;
	}
}
@media screen and (max-width:480px) {
	.posts {
			margin:0 0 2em 0;
			width:100%;
	}
	.posts article {
			margin:0 0 4.5em 0;
			width:100%;
	}
	.posts article:before {
			display:none;
	}
	.posts article:after {
			width:100%;
	}
	.posts article:last-child {
			margin-bottom:0;
	}
	.posts article:last-child:after {
			display: none;
	}
}
